@import url("styles/main.css");

body,
html {
	height: 100%;
	margin: 0px;
}

.overlay-main {
	overflow: hidden;
	position: absolute;
	top: 0;
	pointer-events: none;

	max-width: 100%;
	max-height: 100%;
}

.overlay-text {
	font-family: monospace;
	color: white;
	position: relative;
	pointer-events: none;
}

.debug-overlay-text {
	border-style: solid;
	border-color: red;
}

.hide {
	display: none;
}