.log-container {
	position: fixed;
	left: 0;
	bottom: 0;

	/* Margins */
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	margin-left: 10px;
}

.log-header {
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 50px;
}

.log-header p {
	margin: 0;
	font-size: 14px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.log-header:hover {
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

#log-panel {
	/* Position */

	width: 350px;
	height: 150px;
	background: rgba(0, 0, 0, 0.3);
	overflow: auto;
}

#log-panel:hover {
	background: rgba(0, 0, 0, 0.6);
}

.log-message {
	text-align: left;
	margin-top: 2px;
	margin-bottom: 0px;
}

.log-container div::-webkit-scrollbar {
	width: 8px;
}

.log-container div::-webkit-scrollbar-track {
	background: grey;
}

.log-container div::-webkit-scrollbar-thumb {
	background-color: rgb(51, 51, 51);
	border-radius: 0px;
	/* border: 3px solid orange; */
}