@import url("sidebar.css");
@import url("unitRanges.css");
@import url("replaySpeed.css");
@import url("logPanel.css");
@import url("settings.css");
@import url("lobbySelect.css");
@import url("welcome.css");
@import url("errorMessage.css");
@import url("replaySelect.css");

#app {
	height: 100%;
	background-color: rgb(41, 41, 41);
}

#lobby-select-container {
	background-color: rgb(41, 41, 41);
}

.page {
	height: 100%;
	overflow-y: hidden;
}

.replay-only-visible {
	display: block;
}

.replay-only-hidden {
	display: none;
}

p {
	font-family: monospace;
	color: white;
}

div::-webkit-scrollbar {
	width: 8px;
}

div::-webkit-scrollbar-track {
	background: grey;
}

div::-webkit-scrollbar-thumb {
	background-color: rgb(51, 51, 51);
	border-radius: 0px;
	/* border: 3px solid orange; */
}